<h1>Brawl Stars</h1>
<hr>
<div class="row">
    <div class="col">
        <!-- <h3>Personajes</h3>
        <hr>
        <ul>
            <li *ngFor="let hero of heroes">  {{hero.name}} -- Salud:<b [ngClass]="{rojo:hero.health<=1000,naranja:hero.health>1000 && hero.health<=3000, verde: hero.health>3000}">  {{hero.health}} </b></li>
            
        </ul> -->
        <app-character [heroes]="heroes"></app-character>
        
        
    </div>

</div>
<div class="col">
    <!-- <form (ngSubmit)="addHeroe()" class="form">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" [(ngModel)]="nuevo.name"><br>
        <label for="number">Health: </label>
        <input type="number" name="health" id="health"  [(ngModel)]="nuevo.health"><br>
        <button type="submit">Add</button>
    </form> --><app-add-character [nuevo]="nuevo" [heroes]="heroes"></app-add-character>
       
</div>
