.container{
    display: grid;
    grid-template-columns: repeat(3,minmax(300px,1fr));
}
.card{
    
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 8px 4px #9d1919d1;
  border-radius:15px;
  font-family: sans-serif;
  margin: 10px;
  transition: 0.3s;

}
.card:hover{
    box-shadow: 2px 2px 8px 4px #0ccdf4d1;
    
}

.texto{
    margin: 15px;
    text-align: center;
}
.titulo{
    margin: 15px;
    text-align: center;
}
