<ul>
    <li *ngFor="let item of alumnos; let i = index; let first=first; let last=last; let odd=odd; let even=even" 
    [ngClass]="{par:odd,even:even}">{{i+1}}- {{item}}</li>
</ul>

<h1 *ngIf="aprobados.length>0; else malo">Aprobados</h1>
<ng-template #malo>
    <h3>Que malo eres, no has aprobado a nadie</h3>
</ng-template>
<ul>
    <li *ngFor="let alumno of aprobados; let i = index; let first=first; let last=last; let odd=odd; let even=even" 
    [ngClass]="{par:odd,even:even}">{{i+1}}- {{alumno}}</li>
</ul>

<button (click)="jugarListas()">Aprobar</button>
